<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>madhatter</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<resource-env-ref>
		<description>Content Repository</description>
		<resource-env-ref-name>jcr/repository</resource-env-ref-name>
		<resource-env-ref-type>javax.jcr.Repository</resource-env-ref-type>
	</resource-env-ref>
	
    <servlet>
        <description>
            Repository servlet that starts the repository and registers it to JNDI ans RMI.
            If you already have the repository registered in this appservers JNDI context,
            or if its accessible via RMI, you do not need to use this servlet.
        </description>
        <servlet-name>RepositoryStartup</servlet-name>
        <servlet-class>org.codejive.madhatter.RepositoryStartupServlet</servlet-class>

        <init-param>
            <description>the repository config location</description>
            <param-name>repository-config</param-name>
            <param-value>/WEB-INF/repository.xml</param-value>
        </init-param>

        <init-param>
            <description>the repository home</description>
            <param-name>repository-home</param-name>
            <param-value>/WEB-INF/repository</param-value>
        </init-param>

        <init-param>
            <description>Repository Name under which the repository is registered via JNDI/RMI</description>
            <param-name>repository-name</param-name>
            <param-value>jcr/repository</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

	<servlet>
		<servlet-name>CreateRepo</servlet-name>
		<servlet-class>org.codejive.madhatter.CreateRepo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateRepo</servlet-name>
		<url-pattern>/create</url-pattern>
	</servlet-mapping>
</web-app>
